/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  background-color: var(--background-color);
}

/* tirando as bolinhas de lista */
ul {
  list-style: none;
}
/* tirando o alinhado de baixo dos links */
a {
  text-decoration: none;
}
/* deixando a rolagem mais suave */
html {
  scroll-behavior: smooth;
}

/* base */
body {
  font: 400 1rem var(--body-font);
  color: var(--body-color);
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden; /* ocultando deslizamento lateral */
}

main {
  max-width: 100%; /* maximo de largura */
  margin-top: 6.25rem;
}

/* propriedades de titulos */
h1 {
  font: 700 1.875rem var(--font-tittle);
  color: var(--tittle-color);
  -webkit-font-smoothing: auto;
}

h2 {
  font: 600 1.5rem var(--body-font);
  color: var(--tittle-coloralt);
}

/*definindo o tamanho e expressura da tag image*/
img {
  width: 100%;
  height: auto;
}

/* icons */
i {
  display: inline-flex;
  font-size: 1.75rem;
}

/* variables */
:root {
  --base-color: rgba(255, 136, 0, 0.849);
  --base-coloralt: rgba(161, 0, 0, 0.89);

  --header-color: #fdfafa;
  --footer-color: rgba(161, 0, 0, 0.89);
  --background-color: white;

  --logo: url("assets/logo.png");
  --thema-icon: url("assets/sun.svg");
  --button-color: rgb(70, 224, 70);
  --button-hover: rgb(34, 150, 34);
  --cards-color: white;

  --tittle-color: rgba(0, 0, 0, 0.959);
  --tittle-coloralt: #000000; /* sem o - */
  --body-color: rgba(83, 83, 83, 0.87);
  --font-tittle: 'Poppins', sans-serif;
  --body-font: 'DM Sans', sans-serif;
}

/* navegation */
nav {
  display: flex;
  height: 6.5em;
  align-items: center;
  justify-content: center;
}

/* Dark Mode */
div.toggle {
  position: absolute;
  display: flex;
  align-items: center;
  
  margin-left: 17em;
}

div.toggle .toggle {
  display: none;
}

div.toggle .toggle + label {
  width: 45px;
  height: 24px;
  background: rgba(190, 190, 181, 0.726);
  display: block;
  position: relative;
  border-radius: 20px;
  padding: 2px;
  transition: 200ms;
  cursor: pointer;
}

div.toggle .toggle + label:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background: var(--thema-icon) no-repeat; /* svg moon */
  background-size: 1.2em;
  display: block;
  border-radius: 50%;
  right: unset;
  left: 2px;
  top: 2px;
  transition: 200ms;
}

div.toggle .toggle:checked + label {
  background: blue;
}

div.toggle .toggle:checked + label:before {
  content: '';
  left: calc(100% - 22px);
  /* box-shadow: 0 2px 2px rgb(0 0 0 / 100); */
}

nav a button.logo {
  height: 6.5rem;
  width: 7.5em;

  border: none;
  margin-top: 1.25em;

  background: var(--logo) no-repeat;
  background-size: 7.2em;
}

/* classes */
.container {
  width: 100%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/* habilitando display grid pro gap */
.grid {
  display: grid;
  gap: 1.5rem; /* espaçamento entre divs */
}

.section {
  padding: 5rem 0;
}

.button {
  background-color: var(--button-color);
  transition: background 0.3s;

  font: 700 1rem var(--body-font);
  color: white;
  height: 0.15rem;

  display: inline-flex;
  align-items: center;

  margin-left: 1.5rem;
  margin-right: 4rem;
  padding: 2rem;
  border-radius: 2rem;
}

.button:hover {
  background: var(--button-hover);
  transition: background 0.3s;
}

.divider {
  height: 1px;
  background: linear-gradient(210deg, var(--base-color), var(--base-coloralt));
}

.divider-2 {
  height: 1px;
  background: linear-gradient(210deg, var(--base-coloralt), var(--base-color));
}

/* ICONS */
.icon-shopping-bag {
  color: var(--base-color);
}

.icon-map-pin {
  width: 27%;
  color: white;
  font-size: 1.5rem;
}

.icon-shopping-cart {
  color: var(--base-color);
}

.icon-phone {
  color: var(--base-color);
}

.icon-whatsapp {
  width: 30%;
  color: white;
  font-size: 1.5rem;
}

/* HEADER */
#header {
  border-bottom: 1px solid rgb(168, 168, 168);
  margin-bottom: 3rem;

  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: var(--header-color);
}

/* alinhando a logo ao centro do header */
#header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.3rem;
}

#header.scroll {
  border-bottom: 0.1rem solid rgb(168, 168, 168);
}

/* HOME */
#home.container {
  margin: 0;
}

#home .image {
  position: relative;
}

#home .image img {
  position: relative;
  right: 2.93rem;
  border-radius: 4px; /* criando bordas */
}

#home .image::before {
  content: '';
  height: 100%;
  width: 83.5%; /* vazando para lateral direita */

  background: var(--base-color);
  position: absolute;

  top: -16.8%; /* moveu ela para cima direita */
  left: 16.8%; /* moveu para direita borda esquerda */
  z-index: 0; /* deixar ela pela camada de baixo */

  border-radius: 4px;
  max-width: 100%; /* maximo de largura */
}

#home .text {
  margin-left: 0.5rem; /*arrumando as bordas*/
  margin-right: 1.5rem;
  text-align: center;
}

#home .text p,
#home .text a {
  margin-left: 1rem;
}

#home .text h1 {
  margin-bottom: 2rem;
}

#home .button {
  width: 60%;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  justify-content: center;
  align-items: center;
}

/* PRODUCTS */
#products.container {
  margin: 0;
  padding: 2.75rem;
}

.images img {
  width: 60%;
  height: auto;
  display: block;
  border-radius: 2rem;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 1px 1px 12px black;
}

#products .text {
  margin-left: 0.5rem; /*arrumando as bordas*/
  margin-right: 1.5rem;
  text-align: center;
}

#products .text h1 {
  margin-top: -3rem;
  margin-bottom: 2rem;
}

#products .images h2 {
  margin-top: 1.5rem;
  font: 700 1.5rem var(--font-tittle);
  color: var(--tittle-coloralt);
  text-align: center;
}

#products .text p {
  margin-bottom: -1.5rem;
}

/* cards */
.cards.grid {
  gap: 1.5rem;
}

.card {
  padding: 3.65rem;
  margin-top: 3rem;
  box-shadow: 0px 0px 12px black;
  border-bottom: 0.25rem solid var(--base-color);
  border-radius: 0.25px 0.25px 0 0;
  border-radius: 4px;

  background: var(--cards-color);
}

/* CONTACT */
#contact.grid {
  margin: 0;
  justify-content: center;
  align-items: center;
}

#contact .text {
  text-align: center;
  margin-bottom: 2rem;
}

#contact .text h1 {
  text-align: center;
}

#contact .whats ul a {
  margin: 0rem 1rem 2rem 2rem;
  width: 18em;
}

/* FOOTER */
#footer {
  background: var(--footer-color);
  height: 6.7em;
}

#footer .container {
  display: inline-flex;
  align-items: center;
  margin: 0;
  justify-content: space-between;
}

#footer button {
  background: var(--logo) no-repeat;
  background-size: 6em;

  border: none;
  margin: 1em 1.7em;

  width: 6rem;
  height: 5.9em;
}

#footer .text {
  font-size: 0.75em;
  color: white;
  margin-right: 2em;
}

/* MEDIA QUERIES */

/*extra large: 1200 > */
@media (min-width: 1200px) {
  /*header*/
  nav {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 6.5em;
  }

  nav .toggle {
    margin-left: 50em;
  }

  nav a button.logo {
    height: 6.5rem;
    width: 7em;

    border: none;
    margin-top: 1.25em;
  
    background: var(--logo) no-repeat;
    background-size: 100%;
  }

  nav a button {
    cursor: pointer;
  }

  /* home */

  #home img {
    text-align: right;
    left: 55%;
    width: 45%;
  }

  #home .image::before {
    top: -16.8%; /* moveu ela para cima direita */
    left: 50%; /* moveu para direita borda esquerda */
    max-width: 45%; /* maximo de largura */
  }

  #home .text {
    text-align: left;
    margin-top: -23rem;
    margin-left: 5rem;
  }

  #home h1 i {
    margin-left: 9rem;
  }

  #home p {
    margin-left: 20rem;
    margin-right: 45rem;
  }

  #home .button {
    margin-left: 5.5rem;
    width: 20%;

    justify-content: center;
    align-items: center;
  }

  /* PRODUCTS */

  #products .cards {
    display: inline-flex;
    justify-content: space-between;
  }

  #products .card {
    width: 25%;
  }

  /* CONTACT */
  #contact {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  #contact .whats {
    width: 37%;
  }

  #contact .whats ul {
    margin-left: 12em;
  }

  #contact .whats ul a {
    width: 23em;
  }

  /* footer */
  #footer {
    display: flex;

    height: 10em;
  }

  #footer .text {
    font-size: 1rem;
    margin-right: 4em;
  }

  #footer .text p {
    margin-top: 0.3rem;
  }

  #footer button {
    background: var(--logo) no-repeat;
    background-size: 8em;
    cursor: pointer;
  

    margin: 2em 4em;
  
    width: 7rem;
    height: 8em;
  }
}